<!DOCTYPE html>
<html>
<head>
	<style>
		.LoginClass{
			border:medium dashed black;
			width:500px;
			height: 300px;
			float:right;
		}
	</style>
	<title>
	Welcome Page
	</title>	
</head>
<body>
	<div class="LoginClass">
		<form action='/search/' method="POST">
		<label>
			UserName:
			<input type="email" name="username"/>
		</label>
		<br>
		<label>
			Password:
			<input type="password" name="password"/>
		</label>
		<br>
		<input type="submit" value="Submit"/>
		</form>

	</div>

</body>
</html>